#menu {
  position: absolute;
  top: 40%;
  right: 0;
  width: 8em;
  margin-top: -8.5em;
  z-index: 80;
}

#menu ul li {
  list-style: none;
  margin-bottom: 2px;
}

.item_menu {
	opacity: 0.6;
}

.section_content {
  margin-top: 200px;
}

/*
 *Scrolling
 */
 
.section {
  -webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

.show-off{
	height:600px;
	width:100%;
	background: #f9f9f9;
	overflow: hidden;
}
.show-off .boxy{
	height:600px;
	width:100%;
	overflow:hidden;
}

.boxy.slider{background: #fff;}
.boxy.video{background: #fff;}
.boxy.rss{background: #fff;}
.article{
	height:400px;
	width:100%;
	background: #898989;
}

@media screen and (max-width: 767px) {
#menu {
  position: absolute;
  top: 10%;
  right: 0;
  width: 8em;
  margin-top: -8.5em;
  z-index: 80;
}

.show-off{
	height:300px;
	width:100%;
	background: #f9f9f9;
	overflow: hidden;
}
.dropdown-menus {
  top: 10%;
  left: 50%;
  right: 1%;
  z-index: 1000;
  float: left;
  height: 580px;
  min-width: 200px;
}

}


