body{
	font-family: 'Lato';
	overflow-x:hidden;
        color: #000;
}

@font-face {
  font-family: 'Brandon';
  src: url('../fonts/brandon_med.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato_regular.ttf'); /* IE9 Compat Modes */
}

.navbar-brand{
	height: auto;
}
nav.navbar {
    background: #ad752e;
    background: -webkit-linear-gradient(left, #BD892E , #DDB146);
    background: -o-linear-gradient(right, #BD892E , #DDB146);
    background: -moz-linear-gradient(right, #BD892E , #DDB146);
    background: linear-gradient(to right, #BD892E , #DDB146);
    opacity: 1;
    min-height: 60px;
    box-shadow: 3px 0px 5px black;
    border:none;
}

ul.nav{
	padding-top: 19px;
}
.navbar-default .navbar-nav > li > a.donasi {
	background-color: #9B1C27;
	border-radius: 5px;
	padding: 7px 20px;
}
.navbar-default .navbar-nav > li > a.donasi:hover {
	background-color: #C91C30;
	padding-bottom: 7px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
	padding: 7px 5px 7px 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: solid 0px #9B1C27;
	transition: all .1s ease-in-out;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
	border-bottom: solid 2px #9B1C27;
	background-color:transparent;
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: solid 2px #9B1C27;
	background-color:transparent;
	color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    border-bottom: solid 2px #9B1C27;
	background-color:transparent;
	color: #fff;
}

/* 180516 */

.header {
    text-align: left;
    background: url(../img/banner5.jpg) no-repeat;
    background-size: cover;
    padding: 0;
    min-height: 660px;
    border-bottom: solid 10px #9B1C27;
    margin-bottom: 80px;
    position: relative;
}

.header-background, .header-gift, .header-magazine, .header-benefactor, .header-merchant, .header-adventages {
    text-align: left;
    padding: 0;
    min-height: 600px;
    margin-bottom: 80px;
    position: relative;
}

.header-background {
    background: url(../img/banner5.jpg) no-repeat;
	background-size: cover;
}

.header-gift {
    background: url(../img/banner-gift.jpg) no-repeat;
	background-size: cover;
}

.header-magazine {
    background: url(../img/banner-magazine.jpg) no-repeat;
	background-size: cover;
}

.header-benefactor {
    background: url(../img/banner-benefactor.jpg) no-repeat;
	background-size: cover;
}

.header-merchant {
    background: url(../img/banner-our-merchant.jpg) no-repeat;
	background-size: cover;
}

.header-adventages {
    background: url(../img/banner-adventages.jpg) no-repeat;
	background-size: cover;
}

.header .tagline{
	position: relative;
	
	width: 100%;
	min-height: 650px;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(0,0,0,0.4);

	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 45px;
	line-height: 650px;
	text-shadow: 4px 4px 0px #9B1C27;
}

.main-section.contact{
	padding: 30px 0px;
	height:auto;
}

.linkbottom {
    margin: 0px;
    width: auto;
    height: 100px;
}
.linkbottomone {
    float: left;
    padding: 0px 40px 0px 0px;
}
.linkbottomone a{
	padding-top: 10px;	
	display: block;
}

.form{
	width: auto !important;
}
.subcribe label{
	font-weight: normal;
	font-size: 12px;
}
.subcribe input{
	background-color: #ccc;
	border:none;
	border-radius: 0px;
}
.subcribe .btn-default{
	background-color: #000;
	color:#fff;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 11px;
	padding-top: 9px;
	padding-bottom: 9px;
	border:none;
	border-radius: 0px;
}
.follow{
	font-size: 12px;
	width: 100%;
	margin:0px;
	margin-left: 30px;
	margin-top:15px;
}
.follow a{
	margin-right: 20px;
	color: #999;
}
.follow a .fa{
	font-size: 24px;
}

.statistic{
	background-color: #FFF;
	font-size: 11px;
	padding: 50px 0;
}


.copyright{
	background-color: #333;
	color:#fff;
	font-size: 11px;
	padding: 15px 0;
}

#service{
	background: #f3f3f3;
	margin: 35px 0 50px;
	padding: 20px 0 10px;
}

.main-section-portal{
	
		width: 100%;
		min-height: 500px;
		padding: 75px 0 50px;
		background: #fefbdf; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left top, #fefbdf, #f6e8ab, #a3784a); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom right, #fefbdf, #f6e8ab, #a3784a); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom right, #fefbdf, #f6e8ab, #a3784a); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom right, #fefbdf, #f6e8ab, #a3784a); /* Standard syntax */
	
}

.main-section-portal-1{
		width: 100%;
		min-height: 500px;
		padding: 5px 50px;
		background-color: #dddddd;
	
}

.form-login{
	padding: 20px 40px;
}
.form-login .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: none;
}
.form-login .form-control{
	border:none;
}
.input-btn-form{
	width: 100%;
}

.carousel-inner .item{
	height: 400px;
	background-size: cover;
	background-position: center;
}

.main-section{
	margin-top: 20px;
}
.merchant-box{
	margin-bottom: 0px;
}

.filter-member{
	width: 50%;
	margin:0 auto;
}

.filter-member-1{
	width: 100%;
}

.dp_user{
	float:left;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	background:#fff;
	border-radius: 50%;
	margin-top: -5px;
}

.tes{
	margin-left: 90px;	
}

@media (min-width: 1100px) {
	.tes{
		margin-left: 20px;	
	}	
}

@media (max-width: 1100px) {
	.tes{
		margin-left: 0px;	
	}	
}


.box{
	border:solid 1px #ddd;
	border-radius: 10px;
	padding:20px;
	margin:40px 0;
}


.box-1{
	border:solid 1px #ddd;
	border-radius: 10px;
	padding:20px;
	margin: 5% auto;
	width: 80%;
}

.box-1 .box-head{
	background-color: #DDB146;
	color: #9B1C27;
	font-size: 20px;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 30px;
}

.box .box-head{
	background-color: #DDB146;
	color: #9B1C27;
	font-size: 20px;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 30px;
}

.box-2{
	margin: 5% auto;
	width: 80%;
}

.box-2 .box-head{
	background-color: #DDB146;
	color: #9B1C27;
	font-size: 20px;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 30px;
}

.box-3{
	width: 100%;
	min-height: 200px;
}

.box-3 .box-head{
	background-color: #DDB146;
	color: #9B1C27;
	font-size: 20px;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 30px;
}

.box-mini{
	background-color: #F4ECDF;
	border:solid 1px #ddd;
	border-radius: 10px;
	padding:20px;
}
.box-mini .box-mini-head{
	background-color: #DDB146;
	color: #7A5129;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 30px;
}

.box-mini-1{
	background-color: #FFF;
	border-radius: 10px;
	padding:20px;
	width: 70%;
	margin: 0 auto;
}
.box-mini-1 .box-mini-head-1 {
	background-color: #DDB146;
	color: #7A5129;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 30px;
}

.box-mini-2{
	background: #ad752e;
    background: -webkit-linear-gradient(top, #e9e5c1 , #d3ad71);
    background: -o-linear-gradient(bottom, #e9e5c1 , #d3ad71);
    background: -moz-linear-gradient(bottom, #e9e5c1 , #d3ad71);
    background: linear-gradient(to bottom, #e9e5c1 , #d3ad71);
	border: 1px solid #7a7a7a;
	border-radius: 10px;
	padding:40px 80px 0 80px;
	width: 50%;
	margin: 0 auto;
}
.box-mini-2 .box-mini-head-2 {
	background-color: #DDB146;
	color: #7A5129;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 30px;
}

.box-mini-3{
	border-radius: 10px;
	width: 90%;
	margin: 0 auto;
}

/* Start 160524 */
.box-mini-new, .box-mini-new-2{
	background-color: #F4ECDF;
	border:solid 1px #ddd;
	border-radius: 10px;
	padding:20px;
}

.box-mini-new {
	min-height: 550px;
}

.box-mini-new-2 {
	min-height: 250px; 
	margin: 0 0 50px 0;
}

.box-mini-new .box-mini-head, .box-mini-new-2 .box-mini-head{
	background-color: #DDB146;
	color: #7A5129;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 30px;
}
/* End 160524 */


.form-group h1 {
	font-size:35px;
	color:#ae1f2f;
	font-family: 'Brandon', 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:capitalize;
}

.form-group h3 {
	font-size:20px;
	color:#9b734b;
	font-style: italic;
	font-family: 'Brandon', 'Montserrat', sans-serif;
	font-weight:300;
	letter-spacing: -1px;
	text-align:center;
	text-transform:capitalize;
}


.form-group input[type='checkbox']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #d1d3d1;
}

.form-group input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #9b1c27;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


.form-group input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #d1d3d1;
}

.form-group input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #9b1c27;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.form-group hr {
	margin: 1% 1%;
}

/* 180516 */

@media (min-width: 769px) and (max-width: 1019px) {
  .navbar-brand img {
	  max-width: 80%;
	  width: auto;
	  height: auto;
	  margin: 0 10px 0 0;
  }
	
  .navbar-default .navbar-nav > li > a {
	padding: 7px 2px 7px 2px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 85%;
  }
}

@media (max-width: 768px){
  .navbar-default .navbar-nav > li > a.donasi {
		width: 45%;
		float: left;
		text-align: center;
  }
  
  .navbar-default .navbar-nav > li > a.dp_users {
		width: 25%;
		float: left;
		text-align: center;
  }
  
  
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	  color: #fff;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	  color: #fff;
	  border-bottom: solid 1px #9B1C27;  
  }
  
  .navbar-default .navbar-nav > li > a.login {
		width: 45%;
		float: left;
		text-align: center;
  }
 }
 
 /* 190516 */
 
 .donate-now {
	 margin: 0 0 60px 0;
 }

.box-mini-4{
	background: #ad752e;
    background: -webkit-linear-gradient(top, #efefef , #ffffff);
    background: -o-linear-gradient(bottom, #efefef , #ffffff);
    background: -moz-linear-gradient(bottom, #efefef , #ffffff);
    background: linear-gradient(to bottom, #efefef , #ffffff);
	border: 1px solid #d8d7d7;
	border-radius: 10px;
	padding:40px 80px 0 80px;
	width: 50%;
	margin: 20px auto;
}

.box-mini-5{
	background: #ad752e;
    background: -webkit-linear-gradient(top, #efefef , #ffffff);
    background: -o-linear-gradient(bottom, #efefef , #ffffff);
    background: -moz-linear-gradient(bottom, #efefef , #ffffff);
    background: linear-gradient(to bottom, #efefef , #ffffff);
	border: 1px solid #d8d7d7;
	border-radius: 10px;
	padding:40px 80px 0 80px;
	width: 90%;
	margin: 20px auto;
}

.box-4{
	border:solid 1px #ddd;
	border-radius: 10px;
	padding:20px;
	margin: 5% auto;
	width: 60%;
}

.box-4 .box-head{
	background-color: #DDB146;
	color: #9B1C27;
	font-size: 20px;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 30px;
}



/* Teacher profile vpro */

			
.social-media {
	width: 70%;
	margin: 15% auto;
	height: 100px;
	background: #29235c;
	border-radius: 0 0 5px 5px;
	padding-top: 12%;
}

.photo-p {
	width: 100%;
	font-family: 'QuattrocentoSerif', sans-serif;
	text-align: center;
}

.photo-p hr {
	width: 40%;
	border: 2px solid #29235c;
}

.scroll-timeline {
	width: 100%;
	min-height: 20%;
	background-color: #fff;
	padding: 20px;
	margin: 15% 0 0 0;
	border-radius: 5px 5px 0 0;
	overflow: auto;
}

.yellow-box {
	border: 1px solid #ffcc00;
	width: 100%;
	padding: 10px;
	font-family: 'QuattrocentoSerif', sans-serif;
	text-transform: capitalize;
	margin-bottom: 2%;
}

.paragraph {
	margin-top: 2%;
}

.blue-area, .grey-area {
	width: 50%;
	padding: 5px;
	height: 30px;
	float: left;
	margin: 1% 0;
}

.blue-area {
	background: #29235c;
	color: #fff;
	text-align: center;
}

.grey-area {
	background: #e2e2e2;
}

.title-right {
	text-align: right;
	font-family: 'QuattrocentoSerif', sans-serif;				
}

.image-thumb {
	margin-top: 20%;
}

/* portfolio vpro */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}