html, 
body, 
.container, 
.content-wrap {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

@font-face
{
	font-family: 'Quattrocento';
	src: url('../font/QuattrocentoSans-Regular.otf');
} 


@font-face
{
	font-family: 'QuattrocentoSerif';
	src: url('../font/quattrocento.regular.ttf');
} 

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{  
		color: #262262;
		background-color: transparent !important;
		border-bottom: 5px solid #262262;
		font-weight: bold;
}


.container {
	font-family: 'Quattrocento', sans-serif;
	margin-left: 15px;
	margin-right: 15px;
}

.menu-wrap a {
	color: #ccc;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #c94e50;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.content {
	position: relative;
	background: #fff;
}

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.container h1 {
	font-family: 'QuattrocentoSerif', sans-serif;
}

/* Menu Button */
.navbar {
	margin-bottom: 0px !important;
	background-color: #fff !important;
	border-bottom: 5px solid #262262 !important;
	z-index: 9999;
}

.navbar-brand {
	padding: 2px 5px !important;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0px !important;
}

.container-fluid {
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.container-fluid label {
	font-family: 'Quattrocento', sans-serif;
}

.nav > li {
	text-transform: uppercase;
	font-family: 'Quattrocento', sans-serif;
}

.navbar-nav > li.logo > a:hover {
	color: #262262;
	border-bottom: 0px;
}

.navbar-nav > li > a:hover {
	color: #262262;
	border-bottom: 5px solid #262262;
	font-weight: bold;
}

.navbar-nav > li.menu-links > a {
	margin-top: 8px;
}

.menu-button {
	position: relative;
	z-index: 1000;
	padding: 0;
	height: 45px;
	width: 55px;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
	margin-top: 15%;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

.display-video {
	width: 100%;
	height: 600px;
	background-color: red;
	margin-bottom: 50px;
}

.icon-click {
	position: relative;
	z-index: 9999;
}

.icon-click {
	top: 28em;
	left: 92em;
}

/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 300px;
	height: 89.8%;
	margin-top: 4.8%;
	background: #262262;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	overflow-y: hidden;
}

.menu, 
.icon-list {
	height: 100%;
}

.icon-list {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.icon-list a {
	display: block;
	padding: 0.8em;
	-webkit-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
}

.icon-list,
.icon-list a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}

.icon-list a span {
	font-weight: 700;
}

/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.container-middle {
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: center;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.container-middle p {
	 margin: 0 
}

.hexagon:hover {
	background-image: url('../img/icon-big.jpg');
	opacity: 0.8;
}

.hexagon p {
	position: relative;
	top: 40px;
	color: #fff;
	font-weight: bold;
	font-family: 'Quattrocento', sans-serif;
	z-index: 9999;
	font-size: 17px;
	text-align: center;
}


.hexagon {
  position: relative;
  width: 170px; 
  height: 98.15px;
  margin: 49.07px 0;
  background-size: auto 187.0615px;
  background-position: center;
  border-left: solid 4px #ffffff;
  border-right: solid 4px #ffffff;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 120.21px;
  height: 120.21px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 20.90px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 162.0000px;
  height: 93.53074360871938px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-46.7654px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-46.7654px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-46.7654px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -60.1041px;
  border-top: solid 5.6569px #ffffff;
  border-right: solid 5.6569px #ffffff;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -60.1041px;
  border-bottom: solid 5.6569px #ffffff;
  border-left: solid 5.6569px #ffffff;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.3094px;
  left: 0;
  width: 162.0000px;
  height: 93.5307px;
  z-index: 2;
  background: inherit;
}


/*-------*/
.hexagon-new {
  position: relative;
  width: 250px; 
  height: 144.34px;
  background-color: #28235b;
  margin: 72.17px 0;
}

.hexagon-new:before,
.hexagon-new:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}

.hexagon-new:before {
  bottom: 100%;
  border-bottom: 72.17px solid #28235b;
}

.hexagon-new:after {
  top: 100%;
  width: 0;
  border-top: 72.17px solid #28235b;
}

/*-------*/

.hexagon-new-2 {
  position: relative;
  width: 250px; 
  height: 144.34px;
  background-color: #22a4de;
  margin: 72.17px 0;
}

.hexagon-new-2:before,
.hexagon-new-2:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}

.hexagon-new-2:before {
  bottom: 100%;
  border-bottom: 72.17px solid #22a4de;
}

.hexagon-new-2:after {
  top: 100%;
  width: 0;
  border-top: 72.17px solid #22a4de;
}


.latest-news {
	width: 100%;
	min-height: 500px;
	padding: 50px;
	font-family: 'QuattrocentoSerif', sans-serif;
	color: #262262;
}

.box-big {
	width: 100%;
	height: 320px;
	background:url("../img/ameri.jpg");
	background-size: cover;
}

.box-small {
	width: 100%;
	height: 150px;
	background-color: #000;
	background:url("../img/ameri.jpg");
	background-size: cover;
}



.caption {
	color: #fff;
	top: 60%;
	position: relative;
	left: 5%;
}

.big-banner, .big-banner-2 {
	width: 100%;
	height: 600px;
}

.big-banner {
	background: url("../img/banner-placement.jpg") no-repeat;
	background-size: cover;
	width: 100%
}

.big-banner-2 {
	background: url("../img/banner-teachers.jpg") no-repeat;
	background-size: cover;
}

.big-banner-2 h3 {
	color: #fff;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding-top: 15%;
	text-transform: capitalize;
}

.teacher-data h2, .teacher-data h4 {
	text-align: center;
	font-family: 'QuattrocentoSerif', sans-serif;
	text-transform: capitalize;
	color: #262262;
}

.caption-big {
	font-size: 40px;
}

.caption-small {
	font-size: 20px;
}


.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
  height: 525px;
}

.area-news {
	width: 100%;
	background:url('../img/bg.jpg') no-repeat;
	background-size: cover;
	padding: 50px;
	font-family: 'QuattrocentoSerif', sans-serif;
	min-height: 300px;
}

.area-news h1 {
	font-family: 'QuattrocentoSerif', sans-serif;
	color: #262262;
}

.box-inner {
	width: 100%;
	height: 260px;
	background:url("../img/bg-little.jpg")no-repeat;
	background-size: cover;
}

.wall-blue {
	width: 100%;
	height: 150px;
	background-color: #262262;
	color: #fff;
}

.wall-blue h3 {
	font-family: 'QuattrocentoSerif', sans-serif;
	line-height: 10px;
}

.wall-blue p small {
	line-height: 2px;
}

.wall-blue .container {
	overflow: hidden;
	z-index: 10;
}

.wall-blue-small {
	width: 100%;
	height: 120px;
	background-color: #262262;
	color: #fff;
}

.container-wall {
	width: 100%;
	margin-left: 100px;
	margin-right: 100px;
}

.container-wall-small  {
	width: 100%;
	margin-left: 55%;
}

.container-wall img {
	position: relative;
	z-index: 20;
	top: -190px;
	left: -50px;
	left: -50px;
	left: -50px;
}

.container-wall-small img {
	position: relative;
	z-index: 20;
	top: -150px;
}

.content-corporate {
	text-align: center;
}

.content-corporate p {
	text-align: justify;
}

.dropdown a:hover {
	text-decoration: none;
	cursor: pointer;
}

.navbar-right .dropdown-menu {
	position: absolute;
	width: 300px;
	height: 535px;
	margin-top: 25px;
	margin-right: 10%;
	z-index: 0;
	background: rgba(51, 58, 130, .8);
}


.dropdown-menus {
  position: fixed;
  top: 10%;
  left: 77%;
  right: 1%;
  z-index: 1000;
  float: left;
  height: 580px;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background: rgba(51, 58, 130, .8);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menus .pull-right {
  right: 0;
  left: auto;
}
.dropdown-menus .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menus > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menus > li > a:hover,
.dropdown-menus > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menus > .active > a,
.dropdown-menus > .active > a:hover,
.dropdown-menus > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menus > .disabled > a,
.dropdown-menus > .disabled > a:hover,
.dropdown-menus > .disabled > a:focus {
  color: #777;
}
.dropdown-menus > .disabled > a:hover,
.dropdown-menus > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}




@media screen and (max-width: 40em) {
	body {
		font-size: 80%;
	}
	.codrops-header h1 {
		font-size: 2.5em;
	}
	.codrops-demos {
		max-width: 900px;
		padding: 2em 2em 0;
	}
	.related > a {
		margin: 20px 0;
	}
	
	.carousel-control {
	  height: 200px;
	}
}

@media screen and (max-width: 767px) {
	.container-wall {
	width: 100%;
	margin-left: 50px;
	margin-right: 50px;
}

.container-wall img {
	position: relative;
	z-index: 20;
	top: -150px;
	height: 180px;
}

.wall-blue {
	width: 100%;
	height: 120px;
	background-color: #262262;
	color: #fff;
}

.wall-blue h3 {
	font-family: 'QuattrocentoSerif', sans-serif;
	line-height: 40px;
}


}


/* Teacher profile vpro */

			
.social-media {
	width: 70%;
	margin: 15% auto;
	height: 100px;
	background: #29235c;
	border-radius: 0 0 5px 5px;
	padding-top: 12%;
}

.photo-p {
	width: 100%;
	font-family: 'QuattrocentoSerif', sans-serif;
	text-align: center;
}

.photo-p hr {
	width: 40%;
	border: 2px solid #29235c;
}

.scroll-timeline {
	width: 100%;
	min-height: 20%;
	background-color: #fff;
	padding: 20px;
	margin: 15% 0 0 0;
	border-radius: 5px 5px 0 0;
	overflow: auto;
}

.yellow-box {
	border: 1px solid #ffcc00;
	width: 100%;
	padding: 10px;
	font-family: 'QuattrocentoSerif', sans-serif;
	text-transform: capitalize;
	margin-bottom: 2%;
}

.paragraph {
	margin-top: 2%;
}

.blue-area, .grey-area {
	width: 50%;
	padding: 5px;
	height: 30px;
	float: left;
	margin: 1% 0;
}

.blue-area {
	background: #29235c;
	color: #fff;
	text-align: center;
}

.grey-area {
	background: #e2e2e2;
}

.title-right {
	text-align: right;
	font-family: 'QuattrocentoSerif', sans-serif;				
}

.image-thumb {
	margin-top: 20%;
}

/* download legal */

.thin-bordered {
	border: 1px solid #cecece;
	width: 50%;
	margin: 0 auto;
	height: auto;
	overflow: auto;
	padding: 20px 50px;
	border-radius: 5px;
}

.thin-bordered h3 {
	color: #5fb1ea;
}

.area-checkbox {
	padding: 10px;
	color: #a0a0a0;
}

.button-blue {
	background: #5fb1ea !important;
	color: #fff !important;
	margin-top: 35% !important;
	margin-left: 50% !important;
}

.relative-image {
	position: absolute;
	left: 30%;
}

/* portfolio vpro */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15  {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17  {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-17 {
	width: 14%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-17 {
		width: 14%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-17 {
		width: 14%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-17 {
		width: 14%;
		float: left;
	}
}

.modal-dialog {
	margin-top: 90px;
}

.modal-body-vpro {
	background: #35327a;
	height: auto;
	overflow: auto;
	padding: 50px 0;
	color: #fff;
}

.modal-body-vpro h1 {
	font-family: 'QuattrocentoSerif', sans-serif;	
}


/* Teacher profile pro */

.box-big, .box-big-2 {
	width: 100%;
	height: 310px;
	background: #29235c;
}
	
.box-big {
	margin-bottom: 10px;
	background:url('../img/teacher-1.jpg') no-repeat;
	background-size: cover;
}

.box-big-2 {
	margin-top: 10px;
	background:url('../img/teacher-2.jpg') no-repeat;
	background-size: cover;
}


.box-small {
	width: 100%;
	height: 150px;
	background: #29235c;
}

.box-wide {
	width: 100%;
	height: 300px;
	background: #29235c;
}

.inner-img {
	width: 100%;
	height: 300px;
	background:url('../img/teacher-1.jpg') no-repeat;
	background-size: cover;
}

.content-profile {
	padding: 40px;
	width: 100%;
}

.content-profile h3 {
	color: #eab828;
	text-transform: capitalize;
}

.content-profile {
	color: #fff;
	text-transform: capitalize;
}

/*------------ Request Proposal V-Pro -----------------*/

.request-field {
	width: 40%;
	height: 600px;
	background-color: #35327A;
	margin: 10% auto;
	border-radius: 5px;
	color: #fff;
	padding: 30px;
	font-family: 'QuattrocentoSerif', sans-serif;
}
.request-field h1 {
	padding-bottom: 5%;
}


/*dashboard testimonial */
.testimonial-text {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.area-center {
	width: 60%;
	float: left;
	margin: 0 auto;
}

.area-left {
	width: 15%;
	float: left;
	padding-left: 5%;
}

.area-right {
	width: 15%;
	float: left;
	padding-right: 5%;
}

.area-input-data {
	width: 100%;
	height: 130px;
	padding: 2%;
	background:url('../img/icon-testimonial.png') no-repeat center;
	background-size: 85%;
}

.input-transparent {
	box-shadow: none !important;
	background: transparent !important;
	border: transparent !important;
	width: 80% !important;
	margin: 15% auto !important;
	color: #fff !important;
}

/* Menu left and menu bottom */

.left-side {
	float: left;
	width: 12.5%;
	height: 100vh;
	background-color: #29235C;
	margin-top: 5%;
	position: fixed;
}

.left-side-public {
	float: left;
	width: 8%;
	height: 100vh;
	background-color: #dadada;
	margin-top: 5%;
	position: fixed;
}

.right-side-2 {
	float: right;
	width: 87.5%;
	height: 600px;
	background-color: #fff;
	margin-top: 5%;
}

.right-side {
	float: right;
	width: 92%;
	height: 600px;
	background-color: #fff;
	margin-top: 5%;
}

.new-container {
	position: relative;
	width: 80%;
	margin: 0 auto;
	height: 100vh;
}

.list-group-box {
	background-color: transparent;
	text-align: center;
	height: 80px;
	color: #29235c;
	font-weight: bold;
	font-size: 8pt;
}

.list-group-box:hover, .rounded-box-hw:hover {
	background-color: #29235c;
}

.list-group-box:hover p, .rounded-box-hw:hover p {
	color: #fff;
}

.list-group-box:hover img, .rounded-box-hw:hover img  {
    -webkit-filter: invert(100%); /* Chrome, Safari, Opera */
    filter: invert(100%) brightness(150%);
}


.list-group-box p {
	color: #29235c;
}

.btn-red-dark, .btn-orange, .btn-yellow, .btn-green {
	color: #fff;
	width: 80%;
	border-bottom: 5px solid #706f6f;
	text-align: center;
	margin: 10px auto;
}

.btn-red-dark {
	background-color: #aa3317;
}

.btn-orange {
	background-color: #ea5232;	
}

.btn-yellow {
	background-color: #ebb827;	
}

.btn-green {
	background-color: #b5cc03;	
}

.rounded-box-hw {
	width: 50%;
	height: 140px;
	border: 3px solid #29235c;
	border-radius: 150px;
	margin-top: 5%;
	padding: 30px;
}

.rounded-box-hw p {
	font-size: 10pt;
	font-weight: bold;
}

.photo-profile {
	width: 100%;
	margin: 20% 0 0 0;
}

.title-report {
	width: 100%;
	height: 75px;
	background-color: #29235c;
	border-radius: 20px 20px 0 0;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	color: #fff;
}

.score-1, .score-2, .score-3, .score-4 {
	width: 80%;
	height: 100px;
	margin: 0 auto;
	color: #fff;	
	text-align: center;	
}

.score-1 {
	background-color: #a92516;
	border-top: 10px solid #701b1c;
	border-bottom: 10px solid #701b1c;	
}

.score-2 {
	background-color: #ea5232;
	border-top: 10px solid #b53a25;
	border-bottom: 10px solid #b53a25;	
}

.score-3 {
	background-color: #ebb827;
	border-top: 10px solid #d8a123;
	border-bottom: 10px solid #d8a123;	
}

.score-4 {
	background-color: #b5cc03;
	border-top: 10px solid #96a021;
	border-bottom: 10px solid #96a021;	
}

.description-report {
	width: 100%;
	height: 200px;
	background-color: #29235c;
	border-radius: 0 0 20px 20px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 10px;
	color: #fff;	
	font-size: 9pt;
}

.border-brown {
	width: 80%;
	height: 115px;
	border-bottom: 20px solid #794a26;
	margin: 10px auto;
}

.table-blue-bg {
	background-color: #29235c !important;
	height: 50px;
	color: #fff;
	text-align: center;
	border-radius: 10px 10px 0 0;
}

.table-white-bg {
	background-color: #fff !important;
	height: 50px;
	color: #fff;	
	text-align: center;
}

.table-border-grey {
	border: 2px solid #cdcccb;
	height: 50px;
	text-align: center;
}

.bg-blue-big {
	background-color: #29235c !important;
	border-radius: 10px 0 0 10px;
	text-align: center;
	color: #fff;
}

.header-summary {
	width: 35%;
	height: 50px;
	background-color: #29235c;
	text-align: center;
	margin: 0 auto;
	margin-top: 10%;
	border-radius: 10px;
	border: 3px solid #cecece;
	color: #fff;
	padding: 5px;
	z-index: 999;
	position: relative;
}

.content-summary {
	width: 30%;
	min-height: 200px;
	text-align: center;
	margin: -5% auto;	
	border-radius: 10px;	
	padding: 5px;
	border: 3px solid #cdcccc;
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #d6d5d4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #d6d5d4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #d6d5d4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #d6d5d4); /* Standard syntax */	
	padding: 8% 0%;
}

.circle-base {
	width: 50px;
	height: 50px; 
	border-radius: 50px;
	border: 2px solid #29235c;
	text-align: center;
	padding: 5px;
	color: #be1622;	
	margin: 5% auto;
}

.content-base {
	padding: 5px;
	color: #be1622;	
	margin: 0 auto;	
}

.sunday {
	color: #be1622;
}

.circle-box-upload {
	width: 140px;
	height: 140px;
	border: 20px solid #29235c;
	border-radius: 150px;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #d6d5d4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #d6d5d4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #d6d5d4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #d6d5d4); /* Standard syntax */
	z-index: 9999;
}

.rounded-box-upload {
	width: 45%;
	height: 100px;
	border-left: 0px;
	border-right: 3px solid #29235c;
	border-bottom: 3px solid #29235c;
	border-top: 3px solid #29235c;
	border-radius: 0 30px 30px 0;
	padding: 30px;
	padding-left: 40px;
	margin-top: 3%;
	margin-left: -4%;		
}

.textarea-testimonial {
	width: 70%;
	resize: none;
	margin-top: 2%;
	border: 2px solid #cecece;
}

.btn-blue-long {
	background-color: #2a2563;
	color: #fff;
	width: 50%;
	height: 75px;
	border-radius: 0px 0px 30px 30px;
}

.photo-profile p {
	color: #fff;
	text-align: center;
	font-family: 'QuattrocentoSerif', sans-serif;
	margin: 5% 0;
}

.photo-profile hr {
	width: 70%;
	border: 1px solid #EAB828;
}

.menu-left {
	padding: 5% 21%;
	color: #fff;
	font-family: 'QuattrocentoSerif', sans-serif;
	font-size: 9pt;
}

.list-menu p {
	padding: 1% 12%;
	color: #fff;
	font-family: 'QuattrocentoSerif', sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.menu-left li {
	padding-bottom: 15%;
}

.fixed-menu-bottom {
	position: fixed;
	width: 100%;
	height: 75px;
	background-color: #282828;
	z-index: 9999;
	bottom: 0;
}

.box-black {
	width: 12.5%;
	color: #fff;
	text-align: center;
	font-family: 'QuattrocentoSerif', sans-serif;
	float: left;
}

.fixed-top-menu {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #F6F6F6;
	border-bottom: 5px solid #DADADA;
	z-index: 999;
}

.title-top-menu {
	padding: 1%;
	font-weight: bold;
	font-size: 15px;
	font-family: 'QuattrocentoSerif', sans-serif;
	float: left;
}

.right-area {
	float: right;
	margin: 1% 14%;
}

.right-area img {
	padding-right: 10px;
}

.dropdown-menu2 {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 50px;
  padding: 5px 0;
  margin: 10px 0 0 -60px;
  font-size: 9pt;
  text-align: left;
  list-style: none;
  background-color: #29235c;
  color: #fff;
}
.dropdown-menu2.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu2 .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu2 > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
}
.dropdown-menu2 > li > a:hover,
.dropdown-menu2 > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu2 > .active > a,
.dropdown-menu2 > .active > a:hover,
.dropdown-menu2 > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu2 > .disabled > a,
.dropdown-menu2 > .disabled > a:hover,
.dropdown-menu2 > .disabled > a:focus {
  color: #777;
}
.dropdown-menu2 > .disabled > a:hover,
.dropdown-menu2 > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu2 {
  display: block;
}

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 99999;
top: 11%;
left: 6.5%;
background-color: #29235c;
overflow-x: hidden;
transition: 0.5s;
padding-top: 100px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	display: block;
	transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.scroll-area, .scroll-area-2 {
	overflow: auto;
	width: 100%;
	background-color: #fff;
	font-family: 'QuattrocentoSerif', sans-serif;
}

.scroll-area {
	padding: 10% 0;
	height: 500px;
}

.scroll-area-2 {
	padding-top: 5%;
	min-height: 300px;
}

.scroll-area table {
	width: 90%;
	margin: 0 auto;
}

.scroll-area th {
	background-color: #878787;
	color: #fff;
}

.request-field-2 {
	width: 50%;
	height: auto;
	overflow: auto;
	background: #f7f7f7;
	padding: 20px;
	margin: 0 auto;
}

.title-margin {
	padding: 0 6%;
}

.title-margin h5 {
	color: #29235c;
	font-weight: bold;
}

.request-box {
	margin-bottom: 1%;
}

.color-box, .color-box2, .color-box3, .color-box4 {
	background-color: #95bac8;
	color: #fff;
	box-shadow: inset 1px 1px 20px #80a7b6;
}

.color-box {
	padding: 0 40px;
}

.color-box2	{
	padding: 0 22px;
}

.color-box3 {
	padding: 0 15px;
}

.color-box4 {
	padding: 0 40px;
}

.purple-button {
	background: #4d4261
}

.info {
	width: 50%;
	margin: 10px auto 0px auto;
}

.grey-area {
	background-color: #e5e5e4;
	padding: 5%;
	width: 100%;
	height: 150px;
}

/* Program V-Pro */


.box-1 {
	width: 100%;
	height: 320px;
	background-color: #262626;
}

.text-inside {
	padding: 50px;
	text-align: center;
}

.text-inside p {
	line-height: 20px;
	color: #fff;
	text-transform: capitalize;
}

.hover-content {
	display:none;
}

.box-1:hover .hover-content {
	display:block;
}

.modal-body {
	background: #fff; /* For browsers that do not support gradients */
	padding: 30px;
	width: 100%;
}

/* news */
.content-news {
	width: 100%;
	display: block;
	border: 1px solid #efefef;
	min-height: 250px;
	padding: 20px;
	text-align: left;
	margin-bottom: 20px;
	text-decoration: none;
}
.content-news h4 {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 0;
}
.btn-vista {
	background-color: #262262;
	color: #fff;
	border-radius: 0;
}

.btn-vista:hover {
	background-color: #313187;
}

/* Page Public Program */


.nav-tabs > li{
	width: 20%;
	border-bottom: 0px;
}


.nav-tabs > li > a:hover{
	border: 0px;
}


.nav-tabs > li > a {
	border-radius: 0px;
}

.tab-content {
	height: 100px;
	padding: 10px;
	text-transform: capitalize;
	 background: #d8cfc0; /* For browsers that do not support gradients */
	 background: -webkit-linear-gradient(left top, #fff, #d9cfc3); /* For Safari 5.1 to 6.0 */
	 background: -o-linear-gradient(bottom right, #fff, #d9cfc3); /* For Opera 11.1 to 12.0 */
	 background: -moz-linear-gradient(bottom right, #fff, #d9cfc3); /* For Firefox 3.6 to 15 */
	 background: linear-gradient(to bottom right, #fff, #d9cfc3); /* Standard syntax */
}

/* page move */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

/* placement test result */

.box-placement-outer {
	width: 95%;
	border: 30px solid #143556;
	height: 400px;
	padding: 10px;
	margin: 0% 3%;
	background-color: #f8f7f7;
}

.box-placement-outer h3 {
	color: #29235c;
	font-weight: bold;
}

.input-placement {
	width: 100% !important;
}

.box-placement-outer textarea {
	margin-top: 10px;
	resize: none;
}

/* landing page move */

.menu-landing {
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	height: 200px;
	padding: 10px;
	text-align: center;
}

.menu-landing img {
	width: 50%;
}

.menu-landing h4 {
	color: #13a5de;
	margin-top: 10%;
	font-family: 'QuattrocentoSerif', sans-serif;
}

.menu-landing small {
	color: #858789;
	margin-top: 10%;
}

.btn-blue-sky {
	background-color: #1ba5dd;
	border: none;
	color: #fff;
	margin-top: 5%;
}

.about-move {
	width: 100%;
	margin: 20px auto;
	height: 400px;
	padding: 10px;
	text-align: center;
}

.about-move h1 {
	font-family: 'QuattrocentoSerif', sans-serif;
	font-weight: bold;
}

.background-area {
	background:url("../img/bg-about.jpg") no-repeat center;
	background-size: 100%;
}

.iframe-video-area {
	margin-left: 34%; 
	margin-top:5%;
}


.no-padding {
	padding-right: 0px;
	padding-left: 0px;
}

.move-big-1, .move-big-2, .move-small-1, .move-small-2, .move-small-3, .move-small-4, .move-small-5, .move-small-6  {
	width: auto;
	height: 250px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.move-big-1 {
	background:url("../img/move-big-1.png") no-repeat center;
	background-size: cover;
}

.move-big-2 {
	background:url("../img/move-big-2.png") no-repeat center;
	background-size: cover;
}

.move-small-1 {
	background:url("../img/move-1.png") no-repeat center;
	background-size: cover;
}

.move-small-2 {
	background:url("../img/move-2.png") no-repeat center;
	background-size: cover;
}

.move-small-3 {
	background:url("../img/move-3.png") no-repeat center;
	background-size: cover;
}

.move-small-4 {
	background:url("../img/move-4.png") no-repeat center;
	background-size: cover;
}

.move-small-5 {
	background:url("../img/move-5.png") no-repeat center;
	background-size: cover;
}

.move-small-6 {
	background:url("../img/move-6.png") no-repeat center;
	background-size: cover;
}

.move-big-1:hover, .move-big-2:hover, .move-small-1:hover, .move-small-2:hover, .move-small-3:hover, .move-small-4:hover, .move-small-5:hover, .move-small-6:hover {
	opacity: 0.6;
}

.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16  {
	position: relative;
	min-height: 1px;
	padding-right: 0px;
	padding-left: 0px;
}

.col-xs-16 {
	width: 40%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-16 {
		width: 40%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-16 {
		width: 40%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-16 {
		width: 40%;
		float: left;
	}
}

.teacher-area {
	width: 100%;
	height: 200px;
	margin: 0 auto;
	text-align: center;
	padding: 5%;
}

.teacher-area img {
	width: 50%;
}

.contact-bottom {
	width: 100%;
	margin: 0 auto;
	margin-top: 5%;
	background:url("../img/bg-footer-bottom.jpg") no-repeat center;
	height: 280px;
	padding: 10px 50px 0px 50px;
	background-size: 100%;
	border-bottom: 5px solid #19a4dd;
	color: #fff;
}

.contact-bottom img {
	margin-top: 6%;
}



.col-xs-14 {
	width: 14%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-14 {
		width: 14%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-14 {
		width: 14%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-14 {
		width: 14%;
		float: left;
	}
}




@media (min-width: 769px) and (max-width: 839px) {
  .container {
	  width: 100%;
	  padding: 10px 5px;
	  margin: 0 auto;
	  font-size: 85%;
  }
  .navbar-brand {
	  padding: 10px 0 5px 10px;
  }
  .navbar-header {
	  width: 25%;
  }
  
  .navbar-brand img {
	  max-width: 100%;
	  width: auto;
	  height: auto;
	  margin: 0 10px 0 0;
  }
  
  .navbar-default .navbar-nav > li > a {
	padding: 7px 2px 7px 2px;
	margin-left: 5px;
	margin-right: 5px;
  }
}

