@charset "utf-8";
/*
 Knight Bootstrap theme by BootstrapTaste.com
 Theme URI: http://bootstraptaste.com/knight-free-bootstrap-theme/
 Author: BootstrapTaste
 Author URI: http://bootstraptaste.com
 */
 
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

.img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Lato', 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
}
h2{
	font-size:24px;
	color:#ae1f2f;
	font-family: 'Brandon', 'Montserrat', sans-serif;
	font-weight:700;
	/*letter-spacing: -1px;*/
	margin:0 0 15px 0;
	text-align:center;
	text-transform:capitalize;
}
h3{
	font-family: 'Brandon', 'Montserrat', sans-serif;
	color:#222222;
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:400;
}
h6{
	font-size:15px;
	color:#000;
	font-family: 'Lato', 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 20px 0;
	line-height: 30px;
}
p{
	line-height:24px;
	margin:0;
}

/* Header Styles
---------------------------------*/

.header{
	text-align:center;
	background:url(../img/bg.png) center no-repeat;
	padding: 60px 0;
	min-height: 700px;
}
.logo{
	width:130px;
	margin:0 auto 35px;
}
.header h1{
	font-family: 'Brandon',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
}

.we-create{
	padding:0;
	margin:35px 0 55px;
}
.wp-pic{
	margin-bottom:20px;
}
.we-create li{
	display:inline-block;
	font-family: 'Lato',sans-serif;
	font-size:14px;
	color: #bcbcbc;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
}
.we-create li:first-child{
	background:none;
}

.start-button {
	padding-left: 0px;
}

.start-button li a{
color: #fff;
}


.link{
	padding:15px 35px;
	background:#7cc576;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Lato', 'Open Sans', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
	text-decoration:none;
	color:#7cc576 !important;
	background:#fff;
}

.link:active, .link:focus {
	background: #7cc576;
	text-decoration:none;
	color:#fff !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	position:relative;
	background: #ad752e; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #ad752e , #d19b3c); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #ad752e, #d19b3c); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #ad752e, #d19b3c); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #ad752e , #d19b3c); /* Standard syntax */
	opacity: 0.95;
	min-height: 60px;
	box-shadow: 3px 0px 5px black;
}
.main-nav{
	text-align:left;
	margin: 0 auto;
	padding:0;
	list-style:none;
	font-family: 'Lato', 'Open Sans', sans-serif;
	width: auto;
	height: auto;
	float: left;
}

.mainlogo{
	float: left;
	padding:0;
	list-style:none;
	font-family: 'Lato', 'Open Sans', sans-serif;
	width: 100%;
}

.mainlogo img {
	padding: 20px 20px;	
}

.main-nav li{
	display:inline;
}
.main-nav li a{
	display:inline-block;
	color:#fff;
	text-transform:uppercase;
	font-family: 'Lato', 'Open Sans', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin: 25px 20px 20px 0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	text-transform: capitalize;
}

.main-nav li a:hover{ 
	text-decoration:none;
	color: yellow;
}

.donate {
	float: left;
	width: auto;
	padding: 12px 0;
	margin: 10px 30px 0 0;
}

.donatesubmit {
	padding: 5px 15px;
	color: white;
	background-color: #af1f30;
	border-radius: 4px;
	border: none;
	font-family: 'Lato', 'Open Sans', sans-serif;
	font-weight: bold;
}

.signup {
	width: auto;
	margin: 25px 0px;
}

.signup a {
	color: white;
	font-family: 'Lato', 'Open Sans', sans-serif;
	font-weight: bold;
}

.signupsuccess {
	width: 100%;
	margin: 20px 0;
}

.signupsuccess img{
	float: right;
	padding: 0 5% 0 0;
}

.small-logo{ 
	padding:0 32px;
}

.main-section{
	padding:30px 0 40px;
}

.community {
	width: 100%;
	height: auto;
	text-align: center;
	margin: 20px 0px;
}


/* Services
---------------------------------*/
.future {
	width: 100%;
	padding: 50px 50px;
	height: auto;
	margin: 0 auto;
	background: #f3f3f3;
}

/* 180516 */

.protege-description {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 0 0 100px 0;
}

/*.protege-description h6 {
	font-family: 'Brandon', 'Montserrat', sans-serif;
}*/

.protege-description-magazine {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

/*.protege-description-magazine h6 {
	font-family: 'Brandon', 'Montserrat', sans-serif;
}*/

.protege-technology {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 5% 10%;
	background-color: #f2e9d6;
}

/*.protege-technology h6 {
	font-family: 'Lato', 'Open Sans', sans-serif;
}*/

.protege-scan {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 5% 10%;
	background-color: #e6dcd0;
}

/*.protege-scan h6 {
	font-family: 'Lato', 'Open Sans', sans-serif;
}*/

.protege-description-community {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin: 5% 0;
	padding: 0 10%;
}

/*.protege-description-community h6 {
	font-family: 'Lato', 'Open Sans', sans-serif;
}*/

.protege-description-benefactor {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 0 0 20px 0;
}

.protege-description-benefactor-2 {
	width: 65%;
	margin: 100px auto;
	padding: 0 0 10% 0;
}

.protege-description-benefactor-3 {
	width: 50%;
	margin: 100px auto;
	padding: 0 0 10% 0;
}

.protege-description-benefactor-2 ul li, .protege-description-benefactor-3 ul li{
	text-align: left;
	padding: 5px 0;
}

.protege-description-benefactor-2 ul ol, .protege-description-benefactor-3 ul ol{
	text-align: left;
	padding: 5px 0;
	font-size: 15px;
	font-weight: bold;	
	color: #000;
}

/* end 180516 */

.menu-list {
	width: 100%;
	height: 150px;
	margin: 0 auto;
	text-align: center;
}

.menu-list h3{
	width: 100%;
	margin-top: 110px;
	font-size: 20px;
	font-family: 'Brandon', 'Montserrat', sans-serif;
	text-transform:capitalize;
	
}

.service-list{
	padding:0 0 0 0;
	font-size:14px;
	margin-bottom:40px;
}
.service-list-col1{
	float:left;
	width:60px;
}
.service-list-col1 i{
	font-style:normal;
	font-size:38px;
	display:block;
	color:#222;
	font-family: 'FontAwesome';
	line-height:38px;
}
.service-list-col2{
	overflow:hidden;	
}
.main-section.alabaster{
	background:#fafafa;
}



.boxform {
	width: 35%;
	min-height: 450px;
	margin: 0 auto;
	background: #fefbdf; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #fdfbe2, #f2eec6, #ede7b7, #eae2af, #e7dda9, #e7dda9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #fdfbe2, #f2eec6, #ede7b7, #eae2af, #e7dda9, #e7dda9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #fdfbe2, #f2eec6, #ede7b7, #eae2af, #e7dda9, #e7dda9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #fdfbe2, #f2eec6, #ede7b7, #eae2af, #e7dda9, #e7dda9); /* Standard syntax */
	box-shadow: 0 0 3px #998f5e;
	border-radius: 0 0 30px 30px;
}

.boxform img {
	margin: 20px 0;
}

/* Protege voucher circulated
---------------------------------*/
.protegevoucher {
	width: 100%;
	min-height: 500px;
	background-color: #ccc;
	padding: 50px 0;
}

.imgprotege {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	padding: 25px 0;
}
.protegevoucher img{
	z-index: 9999;
}

.form-voucher {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	min-height: 450px;
	background-color: #fff; /* For browsers that do not support gradients */
	box-shadow: 0 0 3px #998f5e;
	border-radius: 30px 30px;
}
/* Featured Work
---------------------------------*/
.featured-work{
	font-size:14px;
}
.featured-work h2{
	text-align:left;
}
.featured-box{
	padding:0 0 0 0;
	margin-bottom:25px;
	font-size:14px;
}
.featured-box h3{
	margin-bottom:5px;
}
.featured-box p{
	line-height:22px;
}
.featured-work p.padding-b{
	padding-bottom:35px;
}
.featured-box-col1{
	width:60px;
	float:left;
}
.featured-box-col1 i{
	display:block;
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	color:#777777;
	font-style:normal;
}
.featured-box-col2{ overflow:hidden;}
.featured-box.magic{
	background:url(../img/magic.png) left top no-repeat;
}
.featured-box.packaged{
	background:url(../img/packaged.png) left top no-repeat;
}
.featured-box.seo{
	background:url(../img/seo.png) left top no-repeat;
}
.Learn-More{
	display:inline-block;
	padding:0 5px 0 0;
	color:#7cc576;
	font-size:16px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	line-height:24px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	display: none;
}
.Learn-More i{ 
	padding-right:15px;
}

.Learn-More:hover, .Learn-More:focus{ 
	text-decoration:none;
	color: #111;
}


/* Portfolio
---------------------------------*/
.Portfolio-nav{
	padding:0;
	margin:0 0 45px 0;
	list-style:none;
	text-align:center;
}
.Portfolio-nav li{
	margin:0 10px;
	display:inline;
}
.Portfolio-nav li a{
	display:inline-block;
	padding:10px 22px;
	font-size:12px;
	line-height:20px;
	color:#222222;
	border-radius:4px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	background:#f7f7f7;
	margin-bottom:5px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}

.portfolioContainer{
	margin:0 auto;
	padding: 0 5px;
}

.Portfolio-box{
	text-align:center;
	margin-bottom:30px;
	height:300px;
	width:100%;
	overflow:hidden;
	padding:0;
	box-shadow: 1px 1px 10px #d9d9d9;
}
.Portfolio-box img{
	margin-bottom:25px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;	
}

.Portfolio-box img:hover {
	opacity: 0.6;
}

.Portfolio-box-1 {
	background-color: #fff;
	margin-bottom:30px;
	min-height:15%;
	width:100%;
	overflow:hidden;
	box-shadow: 1px 1px 10px #d9d9d9;
	padding: 2% 0;
}

.desc-member {
	width: 100%;
	height: 100%;
	margin: 20% 0;
}

.desc-member h2 {
	font-size: 105%;
	margin-bottom: 5%;
}

.desc-member span {
	font-size: 90%;
}

.merchant-box{
	text-align:center;
	margin-bottom:30px;
	min-height: 120px;
	width:100%;
	overflow:hidden;
	padding:0;
}

.merchant-box img{
	width: 90%;
	margin-bottom:25px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;	
}
.merchant-box a:hover > img{
	opacity: 1;
}


.Portfolio-nav li a.current{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}
/*img {
   max-width:100%;
}*/

.description {
	width: 100%;
	padding: 0 20px;
}

.description h2{
	text-align: left;
	font-size: 20px;
}

.description p{
	text-align: left;
	font-size: 13px;
}

.img-member {
	width: 100%;
	height: 100%;
}

.img-member img {
	width: 95%;
	margin: 20px 0;
}

@media only screen and (min-width: 1200px) and (max-width: 1235px) {
	.Portfolio-box-1 {
	width:100%;
	overflow:hidden;
	box-shadow: 1px 1px 10px #d9d9d9;
	padding: 2% 0;
	}
	
	.desc-member h2 {
	font-size: 120%;
	}
	
	.desc-member span {
	font-size: 80%;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	.Portfolio-box-1 {
	width:100%;
	overflow:hidden;
	box-shadow: 1px 1px 10px #d9d9d9;
	padding: 2% 0;
	}
	
	.desc-member h2 {
	font-size: 120%;
	}
	
	.desc-member span {
	font-size: 80%;
	}
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}

/* Clients
---------------------------------*/
.client-part{
	background:url(../img/section-bg1.jpg) center center no-repeat;
	background-size:cover;
	padding:55px 0;
	text-align:center;
}
.client-part-haead{
	color:#fdfdfd;
	font-size:28px;
	line-height:41px;
	margin:30px 0 10px;
	font-family: ''Open Sans',sans-serif';
	font-style: italic;
}
.client{
	padding:0;
	margin:20px 0 0;
	list-style:none;
	text-align:center;
}
.client li{
	display:inline;
	margin:0 15px;
}
.client li a{
	display:inline-block;
}
.client li a img{
	margin-bottom:15px;
	border-radius:50%;
}
.client li a:hover{
	text-decoration:none;
}
.client li a h3{
	color:#ffffff;
}
.client li a span{
	color:#f1f1f1;
}
.quote-right{
	font-style:normal;
	width:68px;
	height:68px;
	margin:0 auto;
	border:2px solid #7cc576;
	border-radius:50%;
	display:block;
	line-height:68px;
	text-align:center;
	font-size:27px;
	color:#7cc576;
	cursor: pointer;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.quote-right:hover{
color: #fff;
border: 2px solid #fff;
}

.c-logo-part{
	background:#7cc576;
	padding:25px 0;
    filter: alpha(opacity=60);
}
.c-logo-part ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}
.c-logo-part ul li{
	display:inline;
	margin:0 25px;
}
.c-logo-part ul a{
	display:inline-block;
	margin: 0 20px;
}
.main-section.team{
	padding:0 0 0 0;
}


/* Team
---------------------------------*/
.team-leader-block{
	max-width:993px;
	margin:0 auto;
}
.team-leader-box{
	width:21%;
	margin-right: 3.82979%;
	height: 300px;
	overflow: hidden;
	text-align: center;
	float: left;
}
.team-leader-box span{
	margin-bottom:24px;
	display:block;
}

.team-leader{
	width:auto;
	height:auto;
	position:relative;
	border-radius:50%;
	/*box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);*/
	margin:7px 7px 25px 7px;
	
}
.team-leader-shadow{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	border-radius:50%;
	position:absolute;
	width:100%;
	height:100%;
	z-index:10;
	border-radius:50%;
}
.team-leader-shadow a{
	display:block;
	width:100%;
	height:100%;
}
.team-leader:hover .team-leader-shadow{
	box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.40);
}
.team-leader:hover ul{ display:block; opacity:1}
.team-leader img{
	display:block;
	border-radius:50%;
}
.team-leader ul{
	display:block;
	opacity:0;
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	margin-top:-14px;
	z-index:15;
	transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li{
	display:inline;
	margin:0 11px;
}
.team-leader ul li a{
	font-family: 'FontAwesome';
	display:inline-block;
	font-size:28px;
	color:#fff;	
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus{
	text-decoration:none;
}
.team-leader ul li a.fa-twitter:hover{
	color:#55acee;
}
.team-leader ul li a.fa-facebook:hover{
	color:#3b5998;
}
.team-leader ul li a.fa-pinterest:hover{
	color:#cb2026;
}
.team-leader ul li a.fa-google-plus:hover{
	color:#dd4b39;
}

/* Talk Business
---------------------------------*/
.business-talking{
	background:url(../img/section-bg2.jpg) top center no-repeat;
	background-size:cover;
	padding:60px 0 10px;
	text-align:center;
}
.business-talking h2{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	padding:0;
	margin:20px 0 70px;
	text-transform:uppercase;
	font-size:42px;
	color:#fff;
}


/* Contact
---------------------------------*/
.main-section.contact{
	padding:10px 2%;
	margin: 0 auto;
}

.main-section.contact{
	background: #f5f3f5;
}
.contact-info-box{
	font-size:15px;
	margin:0 0 14px 5px;
	padding-left:0;
}
.contact-info-box h3{
	font-size: 15px;
	font-weight:400;
	float:left;
	width:102px;
	margin-right:12px;
	line-height:28px;
}
.contact-info-box h3 i{
	font-style:normal;
	font-size:18px;
	color:#222222;
	font-family: 'FontAwesome';
	font-weight:normal;
	margin-right:7px;
}
.contact-info-box span{
	line-height:28px;
	display:block;
	overflow:hidden;
}

.linkbottom {
	margin: 10px 20px;
	width: auto;
	height: 100px;
}

.linkbottomone {
	float: left;
	padding: 10px 20px 0px 20px;
}

.linkbottomone a {
	font-family: 'Lato';
	font-weight: normal;
	color: #000;
	font-size: 12px;
}

.social-link{
	display:block;
	overflow:hidden;
	list-style:none;
}

.social-link li a{
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:25px;
	color:#fff;
	background:#222222;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}
.pinterest a:hover {
	background: #cb2026;
}
.gplus a:hover {
	background: #dd4b39;
}
.dribbble a:hover {
	background: #ea4c89;
}

.form{
	margin: 0px 0px 0 30px;
	height: auto;
	width: 100%;
}

.form p {
	font-size: 12px;
	padding: 20px 0 0 20px;
	line-height: 2px;
}

.input-text{
	float: left;
	padding:15px 10px;
	background-color: #b7b5b7;
	border:1px solid #ccc;
	width:65%;
	height:30px;
	display:block;
	font-size:15px;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin: 15px 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-submit{
	float: left;
	border:1px solid #ccc;
	background-color: #000;
	width:20%;
	height:32px;
	display:block;
	font-size:12px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	margin: 15px 0 15px 0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
}
.input-btn{
	width:175px;
	height:50px;
	background:#7cc576;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn-form {
	width: 15%;
	height:50px;
	background:#ad1e2e;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	border:0px;
	margin: 5px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn-form:hover {
	background: #df0c24;
	color: #fff;
	border-bottom: 3px solid #b60418;
	transition: all .0.2s ease-in-out;
}

.input-btn-form-2 {
	width: 100%;
	height:100%;
	background:#ad1e2e;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	border:0px;
	margin: 5px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}


.input-btn:hover,.input-btn-form-2:hover{
	background: #ce1828;
	color: #fff;
}

.form-login {
	width: 100%;
	margin: 0 auto;
	min-height: 150px;
	text-align: center;
	border:0px;
}

.form-login span {
	font-size: 12px;
}

.form-login a {
	font-size: 12px;
	color:#ad1e2e;
	font-style: italic;
}

.redeemvoucher a {
	color:#ad1e2e;
}

.input-form{
	color:#aaa;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-group{
	margin-bottom: 10px;
}

.input-checkbox {
	background-color: #fff;
}

.follow {
	width: 40%;
	margin: 0 0 0 40px;
}

.follow p {
	font-size: 12px;
}

/* Footer
---------------------------------*/

.footer{
	background: #000;
	padding:35px 0 35px;
}
.footer-logo{
	margin:15px auto 35px;
	width: 76px;
}
.copyright{
	color:#cccccc;
	font-size:14px;
	display:block;
	text-align:center;
}
.copyright a{
	color:#7cc576;
	font-weight:600;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.copyright a:hover {
	color: #fff;
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #7cc576 !important;
}

.portfolioContainer{
	max-width: 1140px;
}


/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}
/*------------------------------------------------------------------
    Blog Sidebar
------------------------------------------------------------------*/
.blog-sidebar{
  background: #fff;
  border: 1px solid #ebeef6;
  padding: 15px;
  box-shadow: #000;
}
.blog-sidebar .blog-sidebar-heading {
  background: #fff;
  padding: 15px;
}

.blog-sidebar .blog-sidebar-heading .blog-sidebar-heading-icon {
  position: relative;
  top: 1px;
  font-size: 13px;
  color: #606060;
  margin-right: 5px;
}

.blog-sidebar .blog-sidebar-heading .blog-sidebar-heading-title {
  display: inline-block;
  font-size: 16px;
  margin: 0;
}

.blog-sidebar .blog-sidebar-content {
  background: #fff;
  padding: 15px;
}

.blog-sidebar .blog-sidebar-content.blog-sidebar-content-height {
  height: 290px;
}

/*------------------------------------------------------------------
    [Latest Tutorials]
------------------------------------------------------------------*/
.latest-tuts {
  overflow: hidden;
  border-bottom: 1px solid #f7f8fa;
  padding-top: 10px;
  padding-bottom: 10px;
  /*margin-bottom: 10px;*/
}

.latest-tuts:last-child {
  border-bottom: none;
}

.latest-tuts .latest-tuts-media {
  float: left;
  margin-right: 10px;
}

.latest-tuts .latest-tuts-media .latest-tuts-media-img {
  width: 60px;
  height: 60px;
}

.latest-tuts .latest-tuts-media .latest-tuts-media-img-banner {
  width: 100%;
}

.latest-tuts .latest-tuts-content {
  overflow: hidden;
}

.latest-tuts .latest-tuts-content .latest-tuts-content-title{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 0 0 3px;
  color: #C91C30;
  padding-top: 5px;
}

.latest-tuts .latest-tuts-content .latest-tuts-content-time {
  font-size: 11px;
  display: block;
  color: #606060;
}

/*h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Brandon';
  color: #34343c;
  line-height: 1.4;
  margin: 0 0 15px;
}*/

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #C91C30;
}

/*--------------------------------------------------
    [Border radius]
----------------------------------------------------*/
.radius-0 {
  border-radius: 0 !important;
}

.radius-3 {
  border-radius: 3px !important;
}

.radius-5 {
  border-radius: 5px !important;
}

.radius-6 {
  border-radius: 6px !important;
}

.radius-7 {
  border-radius: 7px !important;
}

.radius-8 {
  border-radius: 8px !important;
}

.radius-9 {
  border-radius: 9px !important;
}

.radius-10 {
  border-radius: 10px !important;
}

.radius-50 {
  border-radius: 50px !important;
}

.radius-circle {
  border-radius: 50% !important;
}

.margin-b-20 p{
	color:#fff;
}

.c {
    position: absolute;
    top: 3px;
    right: 10px;
    width: 35px;
    height: 35px;
    background: transparent;
    outline: none;
    border: none;
}

/*------------------------------------------------------------------
    Tab Sidebar
------------------------------------------------------------------*/
.tab-sidebar{
  background: inherit;
  padding: 15px;
  text-align: right;
}

.tab-sidebar h3 > a {
  font-weight: 400;
  font-family: 'Brandon';
  color: #888888;
  line-height: 1.4;
  margin: 0 0 15px;
  text-transform: none;
  font-size: 22px;
  border-right: solid 5px #888888;
  padding-right: 20px;
}

.tab-sidebar h3 > a:hover , .tab-sidebar h3 > a:active , .tab-sidebar h3 > a:focus{
  color: #ad1e2e;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
  border-right: solid 5px #9B1C27;
  padding-right: 20px;
}

/*.tab-sidebar a:active, .tab-sidebar a:focus {
  color: #ad1e2e;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
  border-right: solid 5px #9B1C27;
  padding-right: 20px;
}*/

.blog-content{
  border: 1px solid #c4c7ce;
  padding: 15px;
  box-shadow: #c4c7ce;
}

.blog-content-news{
  color: #888888;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  border-right: none;
}

.blog-content-news-title > a{
  color: #ad1e2e;
  border-right: none;
  margin-bottom: 0px;
}

.blog-content-news-desc {
  color: #888888;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
  border-right: none;
  text-align: justify;
}

.blog-content-news-img{
  width: 100%;
  height: 100%;
}

/* portfolio vpro */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

/* portfolio wall of fame */

.wall-blue h3 {
	margin-top: 20px;
	color: #fff;
	
}

