/*------------------------------------------------------------------
    Tab Sidebar
------------------------------------------------------------------*/
/*.tab-sidebar{
  background: inherit;
  padding: 15px;
  text-align: right;
}

.tab-sidebar h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Brandon';
  color: #888888;
  line-height: 1.4;
  margin: 0 0 15px;
  text-transform: none;
  font-size: 22px;
  padding-right: 20px;
}

.tab-sidebar h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #888888;
  border-right: solid 5px #888888;
  padding-right: 20px;
}

.tab-sidebar a:hover{
  color: #ad1e2e;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
  border-right: solid 5px #9B1C27;
}

.tab-sidebar a:active, .tab-sidebar a:focus {
  color: #ad1e2e;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
  border-right: solid 5px #9B1C27;
  padding-right: 20px;
}

.blog-content{
  border: 1px solid #c4c7ce;
  padding: 15px;
  box-shadow: #c4c7ce;
}

.blog-content-news{
  color: #888888;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  border-right: none;
}

.blog-content-news-title > a{
  color: #ad1e2e;
  border-right: none;
  margin-bottom: 0px;
}

.blog-content-news-desc {
  color: #888888;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
  border-right: none;
  text-align: justify;
}

.blog-content-news-img{
  width: 100%;
  height: 100%;
}*/